
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
}
<div class="box box-primary">
    <div class="box-boy">
        <form>
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                    </button>

                    <a href="~/Supplier/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        @*Kết quả tìm kiếm*@
        <p style="margin-top:10px;">
            Có <strong>1,567</strong> nhà cung cấp trong tổng số <strong>100</strong> trang.
        </p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tên nhà cung cấp</th>
                        <th>Tên giao dịch</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Quốc gia</th>
                        <th>Thanh phố</th>
                        <th>Mã bưu chính</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <tr>
                            <td>Công ty TNHH Nhật Bình</td>
                            <td>Nhật BÌnh Ltd</td>
                            <td>77 Nguyễn Huệ</td>
                            <td>0234.38262667</td>
                            <td>Việt Nam</td>
                            <td>Thành phố Huế</td>
                            <td>0234</td>
                            <td>
                                <a href="~/Supplier/Edit" class="btn btn-xs btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Supplier/Delete" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



